<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://demofunc20230611231119.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/5a043e18-3cc0-4717-a0eb-4fb310745fa9/resourcegroups/DemoFuncTesting_group-85ac/providers/Microsoft.Web/sites/DemoFunc20230611231119</ResourceId>
    <UserName>$DemoFunc20230611231119</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://demofunc20230611231119.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>